.footer{
  position: relative;
  z-index: 999;
  background-color: #292929;
  padding: 20px 0;
  bottom: 0;
}
.wrapper-content{
  display: flex;
  justify-content: space-between;
}
.footer-text{
  color: white;
  font-weight: 700;
  font-size: 17px;
}
.contact > .footer-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.contact > .footer-text > span{
  font-size: 17px;
}