.sect-login {
  position: relative;
  background-image: url(/image/pexels-tima-miroshnichenko-7991486.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper-login {
  position: absolute;
  width: 50%;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bkg-img {
  width: 100%;
  height: 100vh;
  background-color: rgba(25, 25, 25, 0.8);
}

.title-login {
  font-weight: 700;
  color: #5278F6;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-with {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
}

.login-with button {
  padding: 12px 13px 10px 13px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.login-with button:last-child {
  color: #5278F6;
}

.login-with button:hover {
  background-color: lightgray;
}

.form {
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 30px;
}

.form input {
  padding: 20px 15px;
  outline: none;
  border: none;
  border-radius: 15px;
  background-color: #fff;
  color: #333;
}

.form input:hover {
  border: 1px solid #5278F6;
}

.form input::placeholder {
  color: #3339;
}

.btn-signin {
  width: 50%;
  margin: 0 auto;
  background-color: #5278F6 !important;
  color: #fff !important;
  font-size: 16px;
}

.btn-signin:hover {
  background-color: #2956e9 !important;
}

.text-sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  gap: 10px;
}

.text-sign-up>a {
  color: #2956e9;
}

/* register */
.user-name  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.user-name .first-name,
.user-name .last-name {
  width: 47% !important;
  padding: 20px 15px;
  outline: none;
  border: none;
  border-radius: 15px;
  background-color: #fff !important;
  color: #333 !important;
}

.user-name>input:hover {
  border: 1px solid #5278F6;
}

.user-name>input::placeholder {
  color: white;
}

.wrapper-form {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.wrapper-form * {
  width: 100%;
}

.error {
  position: absolute;
  right: 0;
  bottom: -22px;
  color: rgb(193, 17, 17);
  font-size: 14px;
}